<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <mat-icon class="toolbar-icon">construction</mat-icon>
      Machine Monitoring
    </span>
    <span class="spacer"></span>
    <div>
      <a mat-button routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/create-machine" routerLinkActive="active-link">
        <mat-icon>add_circle</mat-icon>
        Nova Máquina
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>